@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

html, body {
	font-family: 'Roboto', sans-serif !important;
	background-color: #27292b !important;
}

.pt-wrapper{
	padding-top: 5rem !important;
}

#app{
	height: 100vh !important;
}

.lang-select{
	
	min-width: -webkit-fit-content !important;
	min-width: -moz-fit-content !important;
	min-width: -ms-fit-content !important;
}

hr.divider {
    max-width: 4.25rem;
    border-width: .3rem;
	border-color: #007bff;
	border-radius: 20%;
}

.find-out, .find-out a[href]:not([tabindex]), .find-out a[href]:not([tabindex]):hover{
	border: none;
	border-radius: 10rem;
	color: white !important;
}

.navbar-sticky{
	transition:500ms ease !important;
	background:transparent !important;
}

.navbar-sticky.scrolled{
	background: #000 !important;
}

div#welcome{
	background-color: white;
}

.mb-wrapper {
	margin-bottom: 50% !important;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	z-index: 1040;
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

@media (min-width: 576px) and (max-width: 767.98px) { 
	
	.lang-select {
		min-width: fit-content !important;
		max-width: 100% !important;
	}

 }

 @media (min-width: 768px) { 
	.lang-select {
		max-width: 15% !important;
		min-width: fit-content !important;
	}
  }